.controls {
  display: grid;
  grid-template-columns: 50% 50%;
}

.controls input, .controls label {
  cursor: pointer;
}

.controls input:disabled {
  cursor: default;
}

#allLabel {
  color: gray;
  cursor: default;
}

.graphFrame {
  padding: 5px;
}

/* .legendCircle {
  display: inline-block;
} */

dt {
  float: left;
}

dd {
  margin-inline-start: 20px;
}

.small {
  font-size: 0.8em;
}

table th {
  border-bottom: 1px solid gray;
}

table th {
  text-align: left;
}

.purchase {
  font-weight: bold;
}

.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
